{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<h2>Logout page</h2>
{% endblock %}

{% block main %}
    <a class="btn btn-light" href="{% url 'index' %}">Home</a>
{% endblock %}