<table class="table table-hover">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Modified</th>
        <th>Actions</th>
      </tr>

        {% for schema in schemas %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ schema.title }}</td>
                <td>{{ schema.modify_date|date:'Y-m-d H:i' }}</td>
                <td><a href='{% url "schemas:delete" schema.id %}'>Delete</a></td>
              </tr>
        {% endfor %}

</table>