{% extends 'base.html' %}

{% block header %}
    <h2>Delete data schema</h2>
{% endblock %}

{% block content %}

<form method='post'>
      {% csrf_token %}
      <h3>Do you really want to delete "{{schema.title}}" data schema ?</h3>
      <input type="submit" class="btn btn-danger" value="Delete">
      <a href='{% url "schemas:list" %}' class="btn btn-light">Cancel</a>
</form>

{% endblock %}