{% extends 'base.html' %}
{% load static %}

{% block header %}
    <h1>Data schemas</h1>
{% endblock %}

{% block content %}

{% with schemas=schemas %}
    {% include 'includes/schemas_table.html' %}
{% endwith %}
<a href='{% url "schemas:create" %}' class="btn btn-primary">Create new schema</a>
{% endblock %}