{% extends 'base.html' %}

{% block header %}
    <h2>Create a new data schema</h2>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<form method='post'>
     {% csrf_token %}
     {{ form|crispy }}
     <input type="submit" value="Create">
</form>

{% endblock %}